*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.navbar{
    background-image: linear-gradient(#594fe1,#508aad);
}


.navbar-brand{
    font-size: 1.5rem !important;
    font-weight: bold;
}
.nav-item{
    font-size: 1.5rem !important;
}